@font-face {
    font-family: 'LeaugueSpartan';
    src: url(assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

html {
    font-family: 'LeaugueSpartan', sans-serif;
}

body {
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right; 
    background-size: auto; 
}

/*  */

body {
    height: 100vh;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "title stars",
        "card card";
}



.title-and-description{
    width: 400px;
    grid-area: title;
}

.reports {
    grid-area: stars;
}

.cards {
    grid-area: card;
}


.title-and-description {
    grid-area: title;
}

.reports {
    grid-area: stars;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards {
    grid-area: card;
    display: flex;
    justify-content: space-between;
}

.title {
    color: hsl(300, 43%, 22%);
    font-weight: 900;
    font-size: 30px;
    width: 300px;
    height: auto;
    line-height: 0.9;

}

.description {
    color:hsl(303, 10%, 53%);
    margin-top:20px;
    font-size: 14px;
    line-height: 1.8;
}

.star-container {
    display: flex;
    width: 120px;

 
    justify-content: space-around;
    margin-left: 30px;

}


/* to locate w grid */
.rated-review, .rated-report-guru, .rated-besttech {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 50px;
    width: 420px;
    background-color: hsl(300, 24%, 96%);
    font-weight: 700;
    color:  hsl(300, 43%, 22%);
    font-size: 14px;
    border: none;
    border-radius: 10px;
}


.rated-report-guru {

}


.rated-besttech {

}

.star-description {
    margin-left: 30px;
}

.card-1, .card-2, .card-3 {
    height: 250px;
    width: 350px;
    background-color: hsl(300, 43%, 22%);
    color:hsl(300, 24%, 96%);
    font-size: 14px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card {
    height: 200px;
    width: 300px;
}



.info {
    display: flex;
    flex-direction: column;
}

.pic-and-info {
    display: flex;
    justify-content:left;
}

.pic {
    height: 50%;
    width: auto;
    border-radius: 50%;
}

.author {
    font-weight: 700;
}

.status {
    color: hsl(333, 80%, 67%);
}
