@font-face {
    font-family: 'LeaugueSpartan';
    src: url(assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}

html {
    font-family: 'LeaugueSpartan', sans-serif;
}

body {
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right; 
    background-size: auto; 
}

main {
    display: flex;
/* ??? */
    align-items: center;
    justify-content: center;
}

body {
    height: 100vh;
}

.star-container {
    display: flex;
    width: 120px;

 
    justify-content: space-around;
    margin-left: 30px;

}


/* to locate w grid */
.rated-review {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 60px;
    width: 440px;
    background-color: hsl(300, 24%, 96%);
    font-weight: 700;
    color:  hsl(300, 43%, 22%);
    font-size: 15px;
    border: none;
    border-radius: 10px;
}


.rated-report-guru {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 60px;
    width: 440px;
    background-color: hsl(300, 24%, 96%);
    font-weight: 700;
    color:  hsl(300, 43%, 22%);
    font-size: 15px;
    border-radius: 10px;
}


.rated-besttech {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 60px;
    width: 440px;
    background-color: hsl(300, 24%, 96%);
    font-weight: 700;
    color:  hsl(300, 43%, 22%);
    font-size: 15px;
    border-radius: 10px;
}

.star-description {
    margin-left: 30px;
}

.card-1, .card-2, .card-3 {
    height: 300px;
    width: 400px;
    background-color: hsl(300, 43%, 22%);
    color:hsl(300, 24%, 96%);
    font-size: 14px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card {
    height: 200px;
    width: 300px;
}



.info {
    display: flex;
    flex-direction: column;
}

.pic-and-info {
    display: flex;
    justify-content:left;
}

.pic {
    height: 50%;
    width: auto;
    border-radius: 50%;
}

.author {
    font-weight: 700;
}

.status {
    color: hsl(333, 80%, 67%);
}
