@font-face {
    font-family: 'LeaugueSpartan';
    src: url(../fonts/LeagueSpartan-VariableFont_wght.ttf);
}

html {
    font-family: 'LeaugueSpartan', sans-serif;
}

body {
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right; 
    background-size: auto; 
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: baseline;
    justify-items: center;
    width: 75%;
 /*    margin-top: 50px; */
    margin-left: 50px;
}

.up {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}


.title {
    color: hsl(300, 43%, 22%);
    font-weight: 900;
    font-size: 40px;
    width: 400px;
    height: auto;
    line-height: 0.9;

}

.description {
 /*    color:hsl(303, 10%, 53%); */
    color: hsla(300, 39%, 28%, 0.951);
    padding-top: 20px;
    font-size: 15px;
    line-height: 1.8;
    width: 400px;
}

/* 'rated' */
/* for stars */
.star-container {
    display: flex;
    width: 120px;
    justify-content: space-around;
    margin-left: 20px;
}

.star-description {
    margin-left: 30px;
}

.rated-review, .rated-report-guru, .rated-besttech {
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 55px;
    width: 420px;
    background-color: hsl(300, 24%, 96%);
    font-weight: 600;
    color:  hsl(300, 43%, 22%);
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

.reports {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-left: 10px;
    padding-top: 20px;
}

.rated-report-guru {
    margin-left: 120px;
}

.rated-besttech {
    margin-left: 240px;
}


/* down - cards */
.cards {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.card-1, .card-2, .card-3 {
    height: 220px;
    width: 325px;
    background-color: hsl(300, 43%, 22%);
    color:hsl(300, 24%, 96%);
    font-size: 14px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card-2 {
    margin-top: 20px;
}

.card-3 {
    margin-top: 40px;
}


.info {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 25px;
}



.pic-and-info {
    margin-top: 30px;
    display: flex;
    justify-content: left;

}

 
.card-text {
    width: 250px;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    margin-bottom: 30px;
   
}

.pic {
    height: 50%;
    width: auto;
    border-radius: 50%;
}

.author {
    font-weight: 700;
}

.status {
    color: hsl(333, 80%, 67%);
    margin-top: 8px;
}

.profile-pic {
    width: 40px;
}

@media(max-width: 375px) {
    .content {
       display: flex;
       align-items: center;
       justify-content: center; 
       flex-direction: column;
    }

    .up {
        display: flex;
        flex-direction: column;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }
}